---
import siteData from '../data/site.json'

const pn = Astro.url.pathname
const isHome = pn === '/'
const site = Astro.site
const abtLink = isHome
  ? '#about'
  : `${site}#about`
const ftLink = isHome
  ? '#features'
  : `${site}#features`
const getStartedLink = isHome
  ? '#getstarted'
  : `${site}#getstarted`
---
<nav class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-white sm:bg-transparent shadow sm:shadow-none">
  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    <a href={Astro.site} class="no-underline">
    <div class="flex">
      <div class="flex items-center">
        <img src={`${site}/img/stashsphere-logo.svg`} alt="StashSphere" class="h-12" />
      </div>
      <span class="py-4 px-2 text-primary font-goldman font-bold text-xl">StashSphere</span>
    </div>
    </a>
    <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu">
      <span class="hamburger__top-bun"></span>
      <span class="hamburger__bottom-bun"></span>
    </button>
  </div>
  <div id="menu" class="w-full sm:w-auto self-end sm:self-center hidden sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0">
    <a class="text-gray-800 font-bold hover:text-accent text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" href={abtLink}>About</a>
    <a class="text-gray-800 font-bold hover:text-accent text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1" href={ftLink}>Features</a>
    <a class="text-gray-800 font-bold hover:text-accent text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1" href={getStartedLink}>Get Started</a>
    <a class="text-gray-800 font-bold hover:text-accent text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1" href="https://docs.stashsphere.com"} target="_blank">Documentation</a>
    <a class="text-gray-800 font-bold hover:text-accent text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1" href="https://matrix.to/#/#stashsphere:matrix.org"} target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M.632.55v22.9H2.28V24H0V0h2.28v.55zm7.043 7.26v1.157h.033a3.3 3.3 0 0 1 1.117-1.024c.433-.245.936-.365 1.5-.365q.81.002 1.481.314c.448.208.785.582 1.02 1.108q.382-.562 1.034-.992q.651-.43 1.546-.43q.679 0 1.26.167c.388.11.716.286.993.53c.276.245.489.559.646.951q.229.587.23 1.417v5.728h-2.349V11.52q0-.43-.032-.812a1.8 1.8 0 0 0-.18-.66a1.1 1.1 0 0 0-.438-.448q-.292-.165-.785-.166q-.498 0-.803.189a1.4 1.4 0 0 0-.48.499a2 2 0 0 0-.231.696a6 6 0 0 0-.06.785v4.768h-2.35v-4.8q.002-.38-.018-.752a2.1 2.1 0 0 0-.143-.688a1.05 1.05 0 0 0-.415-.503c-.194-.125-.476-.19-.854-.19q-.168 0-.439.074c-.18.051-.36.143-.53.282a1.64 1.64 0 0 0-.439.595q-.18.39-.18 1.02v4.966H5.46V7.81zm15.693 15.64V.55H21.72V0H24v24h-2.28v-.55z"/></svg>
    </a>
  </div>
</nav>
